#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_BUILDDIR:=debbuild

# copy init script, to use with dh_installinit
install/ushare::
	cp $(CURDIR)/scripts/ushare $(CURDIR)/debian/ushare.init
	mv $(CURDIR)/debian/ushare/etc/ushare.conf $(CURDIR)/debian/ushare/usr/share/ushare/

cleanbuilddir::
	-rm $(CURDIR)/debian/ushare.init

clean::
	debconf-updatepo
