#!/bin/sh
CONFIGFILE=/etc/ushare.conf
DEFAULT_USHARE_NAME=uShare
DEFAULT_USHARE_IFACE=eth0

set -e
. /usr/share/debconf/confmodule

if [ -e $CONFIGFILE ]; then
  . $CONFIGFILE || true
  [ -z "$USHARE_NAME" ] && USHARE_NAME="$DEFAULT_USHARE_NAME"
  db_set ushare/name "$USHARE_NAME"
  [ -z "$USHARE_IFACE" ] && USHARE_IFACE="$DEFAULT_USHARE_IFACE"
  db_set ushare/iface "$USHARE_IFACE"
  db_set ushare/share "$USHARE_DIR"
fi

IFACES=""
[ -x "/sbin/ifconfig" ] && IFACES=$(/sbin/ifconfig -s -a | /usr/bin/tail --lines=+2 | /usr/bin/awk '{ print $1;}')
if `echo $IFACES | grep -q -v "$USHARE_IFACE"`; then
  IFACES=$USHARE_IFACE" $IFACES"
fi
db_subst ushare/iface ifaces $(echo $IFACES | sed -e "s/ /, /g") || true
db_subst ushare/iface configfile $CONFIGFILE || true

db_beginblock
db_input medium ushare/name || true
db_input medium ushare/iface || true
db_input medium ushare/share || true
db_endblock
db_go || true
